*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Antonio', sans-serif;
    /* font-family: 'Spartan', sans-serif; */
    color: #fff;
    font-weight: 400;
}

body {
    margin: 0;
    background: url(./starter-code/assets/background-stars.svg);
    background-color: #070724;
    background-size: cover;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #38384f;
    padding-inline: 1.5em;
}