*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Antonio', sans-serif;
    color: #fff;
    font-weight: 400;
}

body {
    margin: 0;
    background: url(./starter-code/assets/background-stars.svg) no-repeat;
    background-color: #070724;
    background-size: cover;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}